<div class="product-big-title-area">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="product-bit-title text-center">
                        <h2>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="maincontent-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="latest-product">
                       <h3>Save money on the surgical supplies you are already buying with Nanoarthplus.net!</h3>
<p><a href="index.php">Nanoarthplus.com</a> is a liquidator of Ethicon &amp; Covidien nanoarthplus &amp; endomechanicals as well as Synthes implants &amp; instruments - and much more! We have been proudly serving the medical community for 10 years and specialize in selling brand name surgical supplies at discounted prices - in quantities YOU decide.</p>
<p>When you call nanoarthplus, you're not just speaking to an order taker, you're speaking to an expert who understands the products you use and can help you find what you need quickly and easily - no guesswork, no delays. Our goal is to make the ordering process as streamlined and efficient as possible. We know your time is valuable and the last thing you want to do is spend it on ordering supplies or chasing down an exotic item.</p>
<p>What can Nanoarthplus offer your business?</p>
<ul>
<li>Name Brands, In Stock &amp; Ready to Ship</li>
<li>Low Prices</li>
<li>No Contracts</li>
<li>No Minimum Orders</li>
<li>No Sales Tax</li>
<li>30 Day Money-Back Guarantee</li>
<!--<li><a href="https://www.esutures.com/kc/">Fast Shipping</a>. Orders placed by 3:00pm central time are shipped that day</li>
<li>Overnight Shipping Available until 5:00pm central time</li>-->
<li>Order by Phone, Fax, Email or Online</li>
<li>Pay by Credit Card or Check (Purchase Orders Accepted)</li>
</ul>
<p>We invite you to <a href="products.php/">browse our inventory</a>&nbsp;for a look into the product selection and pricing available through nanoarthplus on the over 1 million items we have in stock.</p>
<p><a href="contact.php/">Contact us</a> with any questions or to set up your nanoarthplus account and place your first order TODAY!&nbsp;</p>
<p>We look forward to doing business with you soon!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>\
     <!-- End main content area -->