
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <ol class="breadcrumb">
                <li><a href="products/">Products</a></li>
                <li>{{productdetail.name}}</li>
            </ol>
        </div>
        <div class="col-sm-4">
            <form action="" class="form-horizontal">
                <div class="input-group">
                        <input type="text" name="search_prod" class="form-control" placeholder="Search products...">
                        <div class="input-group-addon" style="padding:0">
                            <input type="submit" value="Search" class="btn btn-xs" style="padding:7px 15px">
                        </div>
                    </div>                
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:3px">
                    <img ng-src="assets/productimages/{{productdetail.images[0].image_name}}" alt="{{productdetail.images[0].name}}">
                </div>
            </div>
            <div class="row">
                <a href="" class="col-sm-4" ng-repeat="image in productdetail.images"><img ng-src="assets/productimages/{{image.image_name}}" class="thumbnail" alt="{{image.name}}"></a>
<!--                 <a href="" class="col-sm-4"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></a>
                <a href="" class="col-sm-4"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></a> -->
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="product-name">{{productdetail.prodname}}</h3>
            <p><b>Category : </b><i>{{productdetail.catname}}</i></p>
            <p><b>Price : </b>{{productdetail.curreny}} {{productdetail.price}}</p>
            <b>Description</b> <br>
            <p ng-bind="productdetail.description"></p>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Related Produts</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-5"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></div>
                        <div class="col-sm-7">
                            <p style="font-size:12px; margin-bottom:0">{{productdetail.name}}</p>
                            <i>{{productdetail.curreny}} {{productdetail.price}}</i>
                        </div>
                        <div class="col-sm-12 dotted-line"></div>

                        <div class="col-sm-5"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></div>
                        <div class="col-sm-7">
                            <p style="font-size:12px; margin-bottom:0">{{productdetail.name}}</p>
                            <i>{{productdetail.curreny}} {{productdetail.price}}</i>
                        </div>
                        <div class="col-sm-12 dotted-line"></div>

                        <div class="col-sm-5"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></div>
                        <div class="col-sm-7">
                            <p style="font-size:12px; margin-bottom:0">{{productdetail.name}}</p>
                            <i>{{productdetail.curreny}} {{productdetail.price}}</i>
                        </div>
                        <div class="col-sm-12 dotted-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  