
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="products/">Products</a></li>
                <li>{{productdetail.prodname}}</li>
            </ol>
        </div>
        
    </div>

    <div class="row">
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-body" style="padding:3px">
                    <img ng-src="assets/productimages/{{productdetail.images[0].image_name}}" alt="{{productdetail.images[0].name}}">
                </div>
            </div>
            <div class="row">
                <a href="" class="col-sm-4" ng-repeat="image in productdetail.images"><img ng-src="assets/productimages/{{image.image_name}}" class="thumbnail" alt="{{image.name}}"></a>
<!--                 <a href="" class="col-sm-4"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></a>
                <a href="" class="col-sm-4"><img ng-src="assets/productimages/{{productdetail.image_name}}" class="thumbnail" alt="{{productdetail.name}}"></a> -->
            </div>
        </div>
        <div class="col-sm-4">
            <h3 class="product-name">{{productdetail.prodname}}</h3>
            <p><b>Category : </b><i>{{productdetail.catname}}</i></p>
            <p><b>Price : </b>{{productdetail.curreny}} {{productdetail.price}}</p>
            <b>Description</b> <br>
            <p ng-bind="productdetail.description"></p>
        </div>
        <div class="col-sm-3">
            <div class="panel panel-default">
                <div class="panel-heading">Related Produts</div>
                <div class="panel-body">
                    <div class="row" ng-repeat="rel_product in relatedProducts">
                        <a href="product/{{rel_product.prod_id}}">
                            <div class="col-sm-5"><img ng-src="assets/productimages/{{rel_product.image_name}}" class="thumbnail" alt="{{rel_product.name}}"></div>
                            <div class="col-sm-7">
                                <p style="font-size:12px; margin-bottom:0">{{rel_product.name}}</p>
                                <i>{{rel_product.curreny}} {{rel_product.price}}</i>
                            </div>
                            <div class="col-sm-12 dotted-line"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


  